{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/workflow_page.css' %}">
{% endblock extra_css %}

{% comment %} {% block extra_js %}
<script src="{% static 'js/workflow_page.js' %}"></script>
{% endblock extra_js %} {% endcomment %}

{% block content %}
{% include "home/menu.html" %}


{% load wagtailcore_tags %}


<h1>In my workflow</h1>
    <div class="button-container">
        <h2>Raw info : {{ rawInfo }}</h2>
    </div>
    <form method="POST">
        <div class="button-container">
            {% csrf_token %}
            <button type="submit" class="button" name="button_id" value="1"{% if is_processing %}disabled{% endif %}>
                {% if is_processing %}
                    <span class="spinner-border spinner-border-sm text-danger" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></span>
                {% else %}
                    Trainning
                {% endif %}
            </button>
            <button type="submit" class="button" name="button_id" value="2">Predict</button>
            <button type="submit" class="button" name="button_id" value="3">Features</button>
            <button type="submit" class="button" name="button_id" value="4">Visualisation</button>

            <!-- Ajoutez d'autres boutons ici -->
        </div>
    </form>
    
    <div id="results-container">
        {% if is_processing %}
            {% comment %} {{ results|safe }} {% endcomment %}
            <p>Le traitement est en cours...</p>
            {% for image_path in results %}
                <img src="{{ image_path.image.url }}" style = "max-width: 100%;
                height: auto;" alt="Image">
            {% endfor %}
        {% else %}
            <!-- Afficher un message indiquant que le traitement n'est pas en cours -->
            Le traitement n'est pas en cours.
        {% endif %}

    </div>
    
    
 
{% endblock %}