{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/worflow_page.css' %}">
{% endblock extra_css %}

{% comment %} {% block extra_js %}
<script src="{% static 'js/workflow_page.js' %}"></script>
{% endblock extra_js %} {% endcomment %}

{% block content %}
{% include "home/menu.html" %}


{% load wagtailcore_tags %}


<h1>In my workflow</h1>
    <form method="POST">
        <div class="button-container">
            {% csrf_token %}
    <button type="submit" class="button" name="button_id" value="1">Cliquez ici</button>
    <button type="submit" class="button" name="button_id" value="2">Cliquez ici</button>
    <button type="submit" class="button" name="button_id" value="3">Cliquez ici</button>
    <!-- Ajoutez d'autres boutons ici -->
</div>

    </form>

{% endblock %}