h1,h2,h3,p,li,ul,span,strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #91a7f1 ;
}
/* .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  } */

  #liste-fichiers{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */ /* to check */
  }
  
  .dashboard-item {
    /* display: flex; */
    width: 22%; /* Répartit les éléments sur 4 colonnes */
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #2b3247;
    box-sizing: border-box;
    z-index: 3;
    margin: 2rem;
    box-shadow: 0 2px 6px rgba(250, 250, 250, 0.753);

  }

  #myModels {
    display: flex;
    /* width: 25%; /* Répartit les éléments sur 4 colonnes */
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #2b3247;
    box-sizing: border-box;
    z-index: 3;
    margin: 2rem;
    box-shadow: 0 2px 6px rgba(250, 250, 250, 0.753);
    justify-content: center;

  }

  .selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
  }

  .dashboard-item strong {
    font-size: 2em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  
  .dashboard-item ul li {
    margin: 0;
    padding: 0;
    color: rgb(216, 216, 216) !important;
    list-style: none; 
    
  }
  
  .dashboard-item:hover {
    background-color: #1f2947;
  }
  
  .spanDownload{
    margin-left: 1rem;
    cursor: pointer;
  }

  .spanDownload:hover{
    color: #91a7f1;
  }


  i{
    cursor: pointer;
  }

  i:hover{
    size: +10px;
  }