{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/loading_page.css' %}">
{% endblock extra_css %}
{% block content %}
{% include "home/menu.html" %}


{% load wagtailcore_tags %}

<!-- My HTML -->

    <h1>{{ page.title }}</h1>
    <h2>{{ page.intro|richtext }}</h2>
    
    <div class="loading-form">
      <form method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          {{ form.as_ul }}
          
          <button type="submit">Charger le CSV</button>
      </form>
    </div>


<!-- END -->
{% endblock  %}
